@model IEnumerable<joespizza.Models.PizzaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Select a Pizza</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)Rs
            </td>
            <td>
                    @Html.ActionLink("Add To Cart", "CheckoutPage", new { id=item.ID})
            </td>
        </tr>
}
    </tbody>
</table>
